<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Reviews</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Movies Reviews</h1>
        <nav class="nav-bar">
            <a href="{{ url_for('main.index') }}">Inicio</a>
            {% if current_user.is_authenticated %}
            <div class="user-info">
                <a href="{{ url_for('main.nueva_pelicula') }}">Crear Película</a>
                <span>Bienvenido, {{ current_user.nombre }}</span>
                <a href="{{ url_for('main.logout') }}" class="logout-link">Cerrar Sesión</a>
            </div>
            {% else %}
                <a href="{{ url_for('main.registro') }}">Registrarse</a>
                <a href="{{ url_for('main.login') }}">Iniciar Sesión</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>