{% extends 'base.html' %}

{% block content %}
<div class="login-container">
    <h2>Registro</h2>
    <form method="POST" class="login-form">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" placeholder="Ingresa tu nombre" required><br>
        <label for="correo">Correo:</label>
        <input type="email" name="correo" placeholder="Ingresa tu correo" required><br>
        <label for="contraseña">Contraseña:</label>
        <input type="password" name="contraseña" placeholder="Crea una contraseña" required><br>
        <button type="submit" class="btn">Registrarse</button>
    </form>
</div>
{% endblock %}